/* --- TailwindCSS-like design system  --- */

:root {
	--color-bg-light: #f4f4f4;
	--color-surface: #ffffff;
	--color-border: #9ca3af;

	--color-text-dark: #0f1927;
	--color-text-mid: #4b5563;
	--color-text-muted: #9ca3af;
	--color-text-light: #ffffff;

	--color-accent-dark: #470170;
	--color-accent-mid: #814ACA;
	--color-accent-muted: #64269D; /* The border is dark, but the background is the global one */
}

/* Partial reset */
* {
	box-sizing: border-box;
	border-width: 0;
	border-style: solid;
	margin: 0;

	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-optical-sizing: auto;
}

body {
	font-weight: 400;
	font-style: normal;

	background-color: var(--color-bg-light);
	color: var(--color-text-dark);
	min-height: 100dvh;
}

/* --- Self positioning and sizing --- */

.hfill { width: 100%; }
.vfill { height: 100%; }
.vfill-screen { height: 100dvh; }

/* --- Child positioning and sizing --- */

.row {
	display: flex;
	flex-direction: row;
	gap: 0.5rem;
}

.column {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.center-children {
	justify-content: space-evenly;
	align-items: center;
}

.flex-space-between {
	display: flex;
	justify-content: space-between;
}

.flex-xs { flex: 0.1; }
.flex-sm { flex: 0.5; }
.flex-base { flex: 1; }
.flex-lg { flex: 2; }
.flex-xl { flex: 4; }

/* --- Margin (only some directions are provided) --- */

.mb-1 { margin-bottom: 0.5rem; }
.mb-2 { margin-bottom: 0.75rem; }
.mb-3 { margin-bottom: 1rem; }
.mb-4 { margin-bottom: 1.25rem; }
.mb-5 { margin-bottom: 1.5rem; }

/* --- Padding --- */

.p-1 { padding: 0.5rem; }
.p-2 { padding: 0.75rem; }
.p-3 { padding: 1rem; }
.p-4 { padding: 1.25rem; }
.p-5 { padding: 1.5rem; }

/* --- Container higlighting --- */

.elevation-1 {
	border-color: var(--color-border);
	box-shadow: 0 1px 3px 0 rgba(0,0,0, 0.05), 0 1px 2px 0 rgba(0,0,0, 0.03);
}

.elevation-2 { box-shadow: 0 4px 6px -1px rgba(0,0,0, 0.1), 0 2px 4px -2px rgba(0,0,0, 0.06) }
.elevation-3 { box-shadow: 0 10px 15px -3px rgba(0,0,0, 0.15), 0 4px 6px -2px rgba(0,0,0, 0.1) }
.elevation-4 { box-shadow: 0 20px 25px -5px rgba(0,0,0, 0.2), 0 10px 10px -5px rgba(0,0,0, 0.04) }
.elevation-5 { box-shadow: 0 25px 50px -12px rgba(0,0,0, 0.25), 0 10px 10px -5px rgba(0,0,0, 0.08) }

.border-dark { border: 1px solid var(--color-text-dark); }
.border-mid { border: 1px solid var(--color-text-mid); }
.border-muted { border: 1px solid var(--color-text-muted); }

/* --- Text highlighting --- */

.text-dark { color: var(--color-text-dark); }
.text-mid { color: var(--color-text-mid); }
.text-muted { color: var(--color-text-muted); }

.text-xs { font-size: 0.75rem; }
.text-sm { font-size: 0.875rem; }
.text-base { font-size: 1rem; }
.text-lg { font-size: 1.125rem; }
.text-xl { font-size: 1.25rem; }

.text-bold { font-weight: 700; }

/* --- Background coloring --- */

.surface { background-color: var(--color-surface); }

.accent-dark {
	background-color: var(--color-accent-dark);
	color: var(--color-text-light);
}

.accent-mid {
	background-color: var(--color-accent-mid);
}

.accent-muted {
	background-color: var(--color-bg-light);
	border: 1px solid var(--color-accent-muted);
}

.accent-dark-hover:hover {
	background-color: color-mix(in hsl, var(--color-accent-dark), black 30%);
}

.accent-mid-hover:hover {
	background-color: color-mix(in hsl, var(--color-accent-mid), black 20%);
}

.accent-muted-hover:hover {
	background-color: color-mix(in hsl, white, black 10%);
}

.gray-disabled:disabled {
	background-color: gray;
}

/* --- Rounding --- */

.round-1 { border-radius: 0.5rem }
.round-2 { border-radius: 0.75rem }
.round-3 { border-radius: 1rem }
.round-4 { border-radius: 1.25rem }
.round-5 { border-radius: 1.5rem }

/* --- Miscelaneous --- */

button:hover {
	cursor: pointer;
}

button:hover:disabled {
	cursor: not-allowed;
}

textarea {
	resize: vertical;
	min-height: 3lh;
}

.error-message {
	padding: 0.5rem;
	background-color: hsl(0, 50%, 95%);
	border: 1px solid hsl(0, 100%, 60%);
	border-radius: 0.5rem;
}

.link-like {
	color: var(--color-accent-dark);
	background-color: inherit;
}
